{% extends 'base1.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %}badwin online shop{% endblock title %}

{% block main-content %}

<h1>404 Error</h1>
Hi, {{ user.username }}
<h3><p>We`re Sorry, the page you are requesting cannot be found</p></h3>
<a href="{% url 'index' %}"><p style="font-style: italic;font-size:15px;font-weight:300;color:rgb(66, 14, 211)">Click me to Contiue shopping</p></a></h6>
























   <!-- Main content -->
   <div class="page-contain page-404">

    <div id="main-content" class="main-content">
        <div class="container">

            <div class="row">

                <div class="content-404">
                    <h1 class="heading">404</h1>
                    <h2 class="title">Oops! That page can't be found.</h2>
                    <p>Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.</p>
                    <a class="button" href="index-2.html">Go to Home</a>
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock main-content %}
