{% extends 'base.html' %}
{% load static %}
{% block content %}

 <!--Hero Section-->
 <div class="hero-section hero-background">
	<h1 class="page-title">Organic Fruits</h1>
</div>

<!--Navigation section-->
<div class="container">
	<nav class="biolife-nav">
		<ul>
			<li class="nav-item"><a href="index-2.html" class="permal-link">Home</a></li>
			<li class="nav-item"><a href="#" class="permal-link">Natural Organic</a></li>
			<li class="nav-item"><span class="current-page">Fresh Fruit</span></li>
		</ul>
	</nav>
</div>

<div class="page-contain single-product">
	<div class="container">

		<!-- Main content -->
		<div id="main-content" class="main-content">

			<!-- summary info -->
			<div class="sumary-product single-layout">
				<div class="media">
					
					<ul class="biolife-carousel slider-for" data-slick='{"arrows":false,"dots":false,"slidesMargin":30,"slidesToShow":1,"slidesToScroll":1,"fade":true,"asNavFor":".slider-nav"}'>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="500" height="500"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="500" height="500"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="500" height="500"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="500" height="500"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="500" height="500"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="500" height="500"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="500" height="500"></li>
					</ul>
					<ul class="biolife-carousel slider-nav" data-slick='{"arrows":false,"dots":false,"centerMode":false,"focusOnSelect":true,"slidesMargin":10,"slidesToShow":4,"slidesToScroll":1,"asNavFor":".slider-for"}'>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="88" height="88"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="88" height="88"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="88" height="88"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="88" height="88"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="88" height="88"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="88" height="88"></li>
						<li><img src="/media/{{data.productattribute_set.first.img}}" alt="" width="88" height="88"></li>
					</ul>
				</div>

					<div class="product-attribute">
                        <h3 class="title">{{data.title}}</h3>
                        <div class="rating">
                            <p class="star-rating"><span class="width-80percent"></span></p>
                            <span class="review-count">(04 Reviews)</span>
                            <span class="qa-text">Q&A</span>
                            <b class="category">{{ data.category }}</b>
                        </div>
                        <span class="sku">Sku: {{ data.sku }}</span>
                        <p class="excerpt">{{ data.specs }}.</p>
                        <div class="price">
							<ins>
								<span class="price-amount">
									Ksh <span class="product-Price-{{data.id}} product-price  product-discount-price"></span>
								</span>
							</ins>
                            <!-- <del><span class="price-amount">Ksh <span class="product-Price-{{data.id}} product-price  product-discount-price"></span></del> -->

                        </div>
                        <div class="product-atts">
                            <div class="atts-item">
                                <span class="title">Color:</span>
                            <ul class="color-list">
								{% for color in colors %}
                                    <li class="color-item"><button class="btn btn-lg choose-color" data-color="{{color.color__id}}" style="background-color: {{color.color__color_code}}"></span>{{color.title}}</button></li>
								{% endfor %}

                            </ul>

                            </div>

                            <div class="atts-item">
                                <span class="title">Sizes:</span>
                            <ul class="color-list">
							{% for size in sizes %}
								{% if size.discountprice %}
								<li class="color-item"><button data-size="{{ size.size__title }}" data-price="{{ size.discountprice }}" data-discounted-price="{{ size.discountprice }}" class="btn btn-outline-secondary btn-sm choose-size color{{ size.color__id }}"></span>{{ size.size__title }}</a></li>
								{% else %}
								<li class="color-item"><button data-size="{{ size.size__title }}" data-price="{{ size.price }}" class="btn btn-outline-secondary btn-sm choose-size color{{ size.color__id }}"></span>{{ size.size__title }}</a></li>
								{% endif %}
							{% endfor %}
                            </ul>
                            </div>
                        </div>
						<br>
						{% if in_wishlist %}
						<a href="{% url 'account:wishlist_product_toggle' data.id %}" pid="{{product.id}}" class="plus-wishlist btn">
							<i class="fas fa-heart fa-lg text-success"></i>
						</a>
						
						{% else %}
						<a href="{% url 'account:wishlist_product_toggle' data.id %}" pid="{{product.id}}" class="plus-wishlist btn">
							<i class="fas fa-heart fa-lg text-danger"></i>
						</a>
						{% endif %}
                        <div class="shipping-info">
                            <p class="shipping-day">3-Day Shipping</p>
                            <p class="for-today">Pree Pickup Today</p>
                        </div>
                    </div>
                    <div class="action-form">
                        <div class="quantity-box">
                            <span class="title">Quantity:</span>
                            <div class="qty-input">
                                <input type="text" name="qty12554" value="1" class="form-control product-qty-{{data.id}}" id="productQty" data-max_value="20" data-min_value="1" data-step="1">
								<input type="hidden" class="product-img-{{data.id}}" value="{{data.productattribute_set.first.img}}" />
								<input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
								<input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
                                <a href="#" class="qty-btn btn-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                
                            </div>
                        </div>
                        <div class="total-price-contain">
                            <span class="title">Total Price:</span>
							{% if data.productattribute_set.first.discountprice %}
							<span class="price">
								<tr>
									<th>Price</th>
									Ksh <span class="product-price-{{data.id}} product-price">{{data.productattribute_set.first.price}}</span>
								</tr>
							</span>
							{% else %}
							<tr>
								<th>Price</th>
								Ksh <span class="product-price-{{data.id}} product-price">{{data.productattribute_set.first.price}}</span>
							</tr>
							{% endif %}
                        </div>
                        <div class="buttons">
							<!-- <input type="text" name="qty12554" value="1" class="form-control product-qty-{{data.id}}" id="productQty" data-max_value="20" data-min_value="1" data-step="1"> -->
							<input type="hidden" class="product-img-{{data.id}}" value="{{data.productattribute_set.first.img}}" />
							<input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
							<input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
                            <a href="#" class="btn add-to-cart-btn add-to-cart" data-index="{{data.id}}">add to cart</a>
							
						</div>

					<div class="social-media">
						<ul class="social-list">
							<li><a href="#" class="social-link"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="social-link"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="social-link"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							<li><a href="#" class="social-link"><i class="fa fa-share-alt" aria-hidden="true"></i></a></li>
							<li><a href="#" class="social-link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="acepted-payment-methods">
						<ul class="payment-methods">
							<li><img src="{% static 'assets/images/card1.jpg' %}" alt="" width="51" height="36"></li>
							<li><img src="{% static 'assets/images/card2.jpg' %}" alt="" width="51" height="36"></li>
							<li><img src="{% static 'assets/images/card3.jpg' %}" alt="" width="51" height="36"></li>
							<li><img src="{% static 'assets/images/card4.jpg' %}" alt="" width="51" height="36"></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Tab info -->
			<div class="product-tabs single-layout biolife-tab-contain">
				<div class="tab-head">
					<ul class="tabs">
						<li class="tab-element active"><a href="#tab_1st" class="tab-link">Products Descriptions</a></li>
						<li class="tab-element" ><a href="#tab_2nd" class="tab-link">Addtional information</a></li>
						<li class="tab-element" ><a href="#tab_3rd" class="tab-link">Shipping & Delivery</a></li>
						<li class="tab-element" ><a href="#tab_4th" class="tab-link">Customer Reviews <sup>(3)</sup></a></li>
					</ul>
				</div>
				<div class="tab-content">
					<div id="tab_1st" class="tab-contain desc-tab active">
						<p class="desc">{{product.description}}.</p>
						<div class="desc-expand">
							<span class="title">Organic Fresh Fruit</span>
							<ul class="list">
								<li>100% real fruit ingredients</li>
								<li>100 fresh fruit bags individually wrapped</li>
								<li>Blending Eastern & Western traditions, naturally</li>
							</ul>
						</div>
					</div>
					<div id="tab_2nd" class="tab-contain addtional-info-tab">
						<table class="tbl_attributes">
							<tbody>
							<tr>
								<th>Color</th>
								<td><p>Black, Blue, Purple, Red, Yellow</p></td>
							</tr>
							<tr>
								<th>Size</th>
								<td><p>S, M, L</p></td>
							</tr>
							</tbody>
						</table>
					</div>
					<div id="tab_3rd" class="tab-contain shipping-delivery-tab">
						<div class="accodition-tab biolife-accodition">
							<ul class="tabs">
								<li class="tab-item">
									<span class="title btn-expand">How long will it take to receive my order?</span>
									<div class="content">
										<p>Orders placed before 3pm eastern time will normally be processed and shipped by the following business day. For orders received after 3pm, they will generally be processed and shipped on the second business day. For example if you place your order after 3pm on Monday the order will ship on Wednesday. Business days do not include Saturday and Sunday and all Holidays. Please allow additional processing time if you order is placed on a weekend or holiday. Once an order is processed, speed of delivery will be determined as follows based on the shipping mode selected:</p>
										<div class="desc-expand">
											<span class="title">Shipping mode</span>
											<ul class="list">
												<li>Standard (in transit 3-5 business days)</li>
												<li>Priority (in transit 2-3 business days)</li>
												<li>Express (in transit 1-2 business days)</li>
												<li>Gift Card Orders are shipped via USPS First Class Mail. First Class mail will be delivered within 8 business days</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="tab-item">
									<span class="title btn-expand">How is the shipping cost calculated?</span>
									<div class="content">
										<p>You will pay a shipping rate based on the weight and size of the order. Large or heavy items may include an oversized handling fee. Total shipping fees are shown in your shopping cart. Please refer to the following shipping table:</p>
										<p>Note: Shipping weight calculated in cart may differ from weights listed on product pages due to size and actual weight of the item.</p>
									</div>
								</li>
								<li class="tab-item">
									<span class="title btn-expand">Why Didn’t My Order Qualify for FREE shipping?</span>
									<div class="content">
										<p>We do not deliver to P.O. boxes or military (APO, FPO, PSC) boxes. We deliver to all 50 states plus Puerto Rico. Certain items may be excluded for delivery to Puerto Rico. This will be indicated on the product page.</p>
									</div>
								</li>
								<li class="tab-item">
									<span class="title btn-expand">Shipping Restrictions?</span>
									<div class="content">
										<p>We do not deliver to P.O. boxes or military (APO, FPO, PSC) boxes. We deliver to all 50 states plus Puerto Rico. Certain items may be excluded for delivery to Puerto Rico. This will be indicated on the product page.</p>
									</div>
								</li>
								<li class="tab-item">
									<span class="title btn-expand">Undeliverable Packages?</span>
									<div class="content">
										<p>Occasionally packages are returned to us as undeliverable by the carrier. When the carrier returns an undeliverable package to us, we will cancel the order and refund the purchase price less the shipping charges. Here are a few reasons packages may be returned to us as undeliverable:</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div id="tab_4th" class="tab-contain review-tab">
						<div class="container">
							<div class="row">
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
									<div class="rating-info">
										<p class="index"><strong class="rating">{{ avg_ratings.0.avg|floatformat:1 }}</strong>out of 5</p>
										<div class="rating"><p class="star-rating"><span class="width-80percent"></span></p></div>
										<p class="see-all">See all {{ total_reviews }} reviews</p>
										<ul class="options">
										{% for rating_count in ratings_count %}
										<li>
											<div class="detail-for">
												<span class="option-name">{{ rating_count.rating }} stars</span>
												<span class="progres">
													<span class="line-100percent">
														<span class="percent width-{{ rating_count.count|divisibleby:5|yesno:"100,0" }}percent"></span>
													</span>
												</span>
												<span class="number">{{ rating_count.count }}</span>
											</div>
										</li>
										<li>
											<div class="detail-for">
												<span class="option-name">{{ rating_count.rating }} stars</span>
												<span class="progres">
													<span class="line-100percent">
														<span class="percent width-{{ rating_count.count|divisibleby:5|yesno:"100,0" }}percent"></span>
													</span>
												</span>
												<span class="number">{{ rating_count.count }}</span>
											</div>
										</li>
										<li>
											<div class="detail-for">
												<span class="option-name">{{ rating_count.rating }} stars</span>
												<span class="progres">
													<span class="line-100percent">
														<span class="percent width-{{ rating_count.count|divisibleby:5|yesno:"100,0" }}percent"></span>
													</span>
												</span>
												<span class="number">{{ rating_count.count }}</span>
											</div>
										</li>
										<li>
											<div class="detail-for">
												<span class="option-name">{{ rating_count.rating }} stars</span>
												<span class="progres">
													<span class="line-100percent">
														<span class="percent width-{{ rating_count.count|divisibleby:5|yesno:"100,0" }}percent"></span>
													</span>
												</span>
												<span class="number">{{ rating_count.count }}</span>
											</div>
										</li>
										<li>
											<div class="detail-for">
												<span class="option-name">{{ rating_count.rating }} stars</span>
												<span class="progres">
													<span class="line-100percent">
														<span class="percent width-{{ rating_count.count|divisibleby:5|yesno:"100,0" }}percent"></span>
													</span>
												</span>
												<span class="number">{{ rating_count.count }}</span>
											</div>
										</li>
											{% endfor %}
										</ul>
									</div>
								</div>











								<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
									<div class="review-form-wrapper">
										<span class="title">Submit your review</span>
										<form action="{% url 'shop:submit_review' data.id %}" name="frm-review" method="post">
											{% csrf_token %}
											<div class="comment-form-rating">
												<label>1. Your rating of this products:</label>
												(0/10)
												<p class="rate">
													<span>
														<input type="radio" name="rating" id="rating1" value="0.5" required /><label for="rating1" title="0.5"></label>
														<input type="radio" name="rating" id="rating2" value="1" required /><label for="rating2" title="1" class="half"></label>
														<input type="radio" name="rating" id="rating3" value="1.5" required /><label for="rating3" title="1.5"></label>
														<input type="radio" name="rating" id="rating4" value="2" required /><label for="rating4" title="2" class="half"></label>
														<input type="radio" name="rating" id="rating5" value="2.5" required /><label for="rating5" title="2.5"></label>
														<input type="radio" name="rating" id="rating6" value="3" required /><label for="rating6" title="3" class="half"></label>
														<input type="radio" name="rating" id="rating7" value="3.5" required /><label for="rating7" title="3.5"></label>
														<input type="radio" name="rating" id="rating8" value="4" required /><label for="rating8" title="4" class="half"></label>
														<input type="radio" name="rating" id="rating9" value="4.5" required /><label for="rating9" title="4.5"></label>
														<input type="radio" name="rating" id="rating10" value="5" required /><label for="rating10" title="5" class="half"></label>
													</span>

												</p>
											</div>
											<p class="form-row wide-half">
												Review Title:
												<input type="text" name="subject"  placeholder="Your Title">

												<!-- <textarea name="review" rows="4" class="form-control"></textarea> -->
											</p>
											<p class="form-row wide-half">
												<!-- <input type="email" name="email" value="" placeholder="{{user.email}}"> -->
											</p>
											<p class="form-row">
												<!-- <textarea name="comment" class="comment" type="text" id="txt-comment" cols="30" rows="10" placeholder="Write your review here..."></textarea> -->
												<textarea name="review" rows="4" class="form-control" placeholder="Write your review here..."></textarea>
											</p>
											<p class="form-row">
												{% if user.is_authenticated %}
												<button class="reviewButton" value="Submit Review" type="submit" name="submit">submit review</button>
												{% else %}
												You must be logged in to post a review. <span><a href="{% url 'account:login' %}">Login now</a></span>
												{% endif %}


											</p>
										</form>
									</div>
								</div>
							</div>


							<header class="section-heading">
								<h3>Customer Reviews </h3>
								<div class="rating-star">
									<span>
										<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
										<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
								<span>{{product.countReview}} reviews</span>
										</span>
								</div>

							</header>

							{% for review in reviews %}
											<article class="box mb-3">
												<div class="icontext w-100">

													<div class="text">
														<span class="date text-muted float-md-right">{{review.updated_at}}| {{review.product}}</span>
														<h6 class="mb-1">{{review.user.username}} </h6>
														<div class="rating-star">
															<span>
																<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
																<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
															</span>
														</div>
													</div>
												</div> <!-- icontext.// -->
												<div class="mt-3">
													<h6><strong>{{review.subject}}</strong></h6>
													<p>
														{{review.review}}
													</p>
												</div>
											</article>
							{% endfor %}


										</div> <!-- col.// -->
									</div> <!-- row.// -->


								</div> <!-- container .//  -->
							</section>



							<h3 class="mt-4 mb-3 border-bottom pb-1">Related products from the same category</h3>
							<div class="row">
								{% for product in related_products %}
								<div class="col-md-3 mb-4">
									<div class="card shadow">
										<a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.img}}" class="card-img-top" alt="{{product.title}}"></a>
										<div class="card-body">
											<h6 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h6>
										</div>
										<div class="card-footer">

										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</main>
						<script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>
						<script>
							$('#zoom_01').ezPlus();
						</script>



							<div id="comments">
								<ol class="commentlist">
									<li class="review">
										{% for review in rewiews %}
										<div class="comment-container">
											<div class="row">

												<div class="comment-content col-lg-8 col-md-9 col-sm-8 col-xs-12">

													<p class="comment-in"><span class="post-name">Quality is our way of life</span><span class="post-date">01/04/2018</span></p>
													{% for star in review.review_rating|ljust:review.review_rating %}
													<div class="rating"><p class="star-rating"><span class="width-80percent"></span></p></div>
													{% endfor %}
													<p class="author">by: <b>{{review.user}}</b></p>
													<p class="comment-text">{{review.review_text}}.</p>

												</div>

												<div class="comment-review-form col-lg-3 col-lg-offset-1 col-md-3 col-sm-4 col-xs-12">
													<span class="title">Was this review helpful?</span>
													<ul class="actions">
														<li><a href="#" class="btn-act like" data-type="like"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Yes (100)</a></li>
														<li><a href="#" class="btn-act hate" data-type="dislike"><i class="fa fa-thumbs-down" aria-hidden="true"></i>No (20)</a></li>
														<li><a href="#" class="btn-act report" data-type="dislike"><i class="fa fa-flag" aria-hidden="true"></i>Report</a></li>

													</ul>
												</div>
											</div>
										</div>
										{% endfor %}
									</li>


								</ol>
								<div class="biolife-panigations-block version-2">
									<ul class="panigation-contain">
										<li><span class="current-page">1</span></li>
										<li><a href="#" class="link-page">2</a></li>
										<li><a href="#" class="link-page">3</a></li>
										<li><span class="sep">....</span></li>
										<li><a href="#" class="link-page">20</a></li>
										<li><a href="#" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
									</ul>
									<div class="result-count">
										<p class="txt-count"><b>1-5</b> of <b>126</b> reviews</p>
										<a href="#" class="link-to">See all<i class="fa fa-caret-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<!-- related products -->
			<div class="product-related-box single-layout">
				<div class="biolife-title-box lg-margin-bottom-26px-im">
					<span class="biolife-icon icon-organic"></span>
					<span class="subtitle">All the best item for You</span>
					<h3 class="main-title">Related Products</h3>
				</div>
				<ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":5, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20 }},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":10}}]}'>
					{% for product in related_products %}
					<li class="product-item">
						<div class="contain-product layout-default">
							<div class="product-thumb">
								<a href="#" class="link-to-product">
									<img src="media/{{product.img}}" alt="dd" width="270" height="270" class="product-thumnail">
								</a>
							</div>
							<div class="info">
								<b class="categories">{{ product.category }}</b>
								<h4 class="product-title"><a href="#" class="pr-name">{{ product.title }}</a></h4>
								<div class="price">
									<ins><span class="price-amount">Ksh <span class="product-price-{{product.id}}" >{{product.productattribute_set.first.discountprice}}</span></ins></h6>
								</div>
								<div class="slide-down-box">
									<p class="message">All products are carefully selected to ensure food safety.</p>
									<div class="buttons">
										{% if in_wishlist %}
										<a href="{% url 'login:wishlist_product_toggle' product.id %}" pid="{{product.id}}" class="plus-wishlist btn">
											<i class="fas fa-heart fa-lg text-success"></i>
										</a>
										
										{% else %}
										<a href="{% url 'login:wishlist_product_toggle' product.id %}" pid="{{product.id}}" class="plus-wishlist btn">
											<i class="fas fa-heart fa-lg text-danger"></i>
										</a>
										{% endif %}
										
										<input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
										<input type="hidden" class="product-img-{{product.id}}" value="{{product.productattribute_set.first.img}}" />
										<input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
										<input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
										<div class="buttons">
											<a href="#" class="btn add-to-cart-btn add-to-cart" data-index="{{product.id}}">add to cart</a>
									</div>
								</div>
							</div>
						</div>
					</li>
					{% endfor %}

				</ul>
			</div>

		</div>
	</div>
</div>

  <!--Main layout-->

{% endblock %}