{% extends "base.html" %}
{% load static %}
{% block title %}
Mpesa on Delivery
{% endblock %}
{% block content %}

    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">Mpesa On Delivery</h1>
    </div>

    <!--Navigation section-->
    <div class="container">
        <nav class="biolife-nav">
            <ul>
                <li class="nav-item"><a href="index-2.html" class="permal-link">Home</a></li>
                <li class="nav-item"><span class="current-page">Mpesa_on_delivery</span></li>
            </ul>
        </nav>
    </div>

    <div class="page-contain checkout">

        <!-- Main content -->
        <div id="main-content" class="main-content">
            <div class="container sm-margin-top-37px">
                <div class="row">

                    <!--checkout progress box-->
                    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                        <div class="checkout-progress-wrap">
                            <ul class="steps">
                                <li class="step 1st">
                                    <div class="checkout-act active">
                                        <h3 class="title-box"><span class="number">1</span>Order number: {{order.order_number}}</h3>
                                        <div class="box-content">
                                            <!-- <h6 class="card-title">Order Number: {{order.order_number}}</h6> -->
                                            <p class="card-text">Order Created On: {{order.created|date:"d-M-Y"}}</p>
                                            <div class="login-on-checkout">
                                                <h5 align="center"><u>HOW VIA MPESA ON DELIVERY / PICKUP</u></h5>
                                                <p>
                                                You can pay before delivery or pickup, or
                                                Pay during delivery or pickup.
                                                Please make your payment directly into our Mpesa Paybill account.
                                                Use your Order Number as the Account Number.
                                               </p>
                                               <br>
                                                <b><h4><p>Go to LIPA NA MPESA</p></b></h4>
                                                <b><h4><p>GO TO PAYBILL</p></b></h4>
                                                <b><h4><p>Business Number: 000000</p></b></h4>
                                                <b><h4><p>Account Number: {{order.order_number}}</p></b></h4>
                                                
                                                <br>
                                                <!-- <p align="center">
                                                    <a href="#" class="btn btn-primary">NEED HELP PAYING?</a></p> -->
              
                                                    <p class="form-row">

                                                  
                                                        <a href="#" class="btn btn-bold">Continue Shopping</a>
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!--Order Summary-->
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 sm-padding-top-48px sm-margin-bottom-0 xs-margin-bottom-15px">
                        <div class="order-summary sm-margin-bottom-80px">
                            <div class="title-block">
                                <h3 class="title">Order Summary</h3>
                                <!-- <a href="#" class="link-forward">Edit cart</a> -->
                            </div>
                            <div class="cart-list-box short-type">
                                <span class="number">{{ order_items|length }} {% if order_items|length == 1 %}Item{% else %}Items{% endif %}</span>
                                <ul class="cart-list">
                                    {% for item in order_items %}
                                    <li class="cart-elem">
                                        <div class="cart-item">
                                            <div class="product-thumb">
                                                <a class="prd-thumb" href="#">
                                                    <figure><img src="/media/{{item.img}}" width="113" height="113" alt="shop-cart" ></figure>
                                                </a>
                                            </div>
                                            <div class="info">
                                                <span class="txt-quantity">{{ item.quantity|floatformat:0 }} X</span>
                                                <a href="#" class="pr-name">{{ item.product.title }}</a>
                                            </div>
                                            <div class="price price-contain">
                                                {% if item in order_items.discountprice %}
                                                <ins><span class="price-amount"><span class="currencySymbol">Ksh</span>{{ item.discountprice }}<span class="badge bg-success">You save Ksh {{ order_item.get_amount_saved }}</span></span></ins>

                                                {% else %}
                                                <ins><span class="price-amount"><span class="currencySymbol">Ksh</span>{{ item.price }}</span></ins>
                                      {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                                <ul class="subtotal">
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Subtotal</b>
                                            <span class="stt-price">Ksh {{ total_price }}</span>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Shipping</b>
                                            <span class="stt-price">£20.00</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">Tax</b>
                                            <span class="stt-price">£0.00</span>
                                        </div>
                                    </li> -->
                                    <li>
                                        <div class="subtotal-line">
                                            <a href="#" class="link-forward">Promo/Gift Certificate</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="subtotal-line">
                                            <b class="stt-name">total:</b>
                                            <span class="stt-price">Ksh {{ amount }}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}