{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<table class="table table-dark">
    <thead>
        <h3 style="margin-top: 40px;">Customers who arrived to Checkout page and paid</h3>
      <tr>
        <th>Order Number</th>
        <th>User name</th>
        <th>Total Amount</th>
        <th>Paid Status</th>
        <th>Order Time</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    {% if order.paid == True %}
      <tr>
        <td><a href="{% url 'shop:order_detail' order.id %}" class="btn btn-sm btn-light">{{ order.order_number }}</a></td>
        <td>{{ order.user.username }}</td>
        <td>{{ order.total_amt }}</td>
        <td>{{ order.paid }}</td>
        <td>{{ order.created }}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <table class="table table-dark">
    <thead>
        <h3 style="margin-top: 40px;">Customers who arrived to Checkout page and Dont paid</h3>
      <tr>
        <th>Order Number</th>
        <th>User name</th>
        <th>Total Amount</th>
        <th>Paid Status</th>
        <th>Order Time</th>
      </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    {% if order.paid == False %}
      <tr>
        <td><a href="{% url 'shop:order_detail' order.id %}" class="btn btn-sm btn-light">{{ order.order_number }}</a></td>
        <td>{{ order.user.username }}</td>
        <td>{{ order.total_amt }}</td>
        <td>{{ order.paid }}</td>
        <td>{{ order.created }}</td>
      </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
{% endblock %}