{% extends "base5.html" %}
{% load static %}
{% block title %}
Orders List
{% endblock %}
{% block content %}
           <!--Block 03: Product Tab-->
           <div class="product-tab z-index-20 sm-margin-top-193px xs-margin-top-30px">
            <div class="container">
              
                <div class="biolife-tab biolife-tab-contain sm-margin-top-34px">
                    <div class="tab-head tab-head__icon-top-layout icon-top-layout">
                        <ul class="tabs md-margin-bottom-35-im xs-margin-bottom-40-im">
                            <li class="tab-element active">
                                <a href="#tab01_1st" class="tab-link"><span class="biolife-icon icon-lemon"></span>Oranges</a>
                            </li>
                            <li class="tab-element" >
                                <a href="#tab01_2nd" class="tab-link"><span class="biolife-icon icon-grape2"></span>Grapes</a>
                            </li>
                            <li class="tab-element" >
                                <a href="#tab01_3rd" class="tab-link"><span class="biolife-icon icon-blueberry"></span>Blueberries</a>
                            </li>
                            <li class="tab-element" >
                                <a href="#tab01_4th" class="tab-link"><span class="biolife-icon icon-orange"></span>Lemon</a>
                            </li>
                            <li class="tab-element" >
                                <a href="#tab01_5th" class="tab-link"><span class="biolife-icon icon-broccoli"></span>Vegetables</a>
                            </li>
                        </ul>
                    </div>
 
                    <style>
                      /* Add this style to your existing CSS or in the head of your HTML document */
                      .card-link {
                        border: none;
                        border-radius: 0.25rem;
                        padding: 0;
                        background-color: #fff;
                        display: block;
                        width: 100%;
                        text-decoration: none;
                        transition: box-shadow 0.3s ease-in-out;
                      }
                    
                      .card-link:hover {
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                      }
                    </style>
                    
                                   
                                












  <div class="col-12">
    <h1 class="h2">Your Account</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div>
      Manage your <b>orders</b> and personal details
    </div>
    {% comment %} <div><a href="{% url "shop:my_orders" %}">Change Details</a></div> {% endcomment %}
  </div>
  <hr />
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <a href="{% url "shop:my_orders" %}"
         class="text-reset text-decoration-none"
         role="button"
         style="max-width: 540px">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <svg class="position-absolute top-50 start-50 translate-middle"
                   xmlns="http://www.w3.org/2000/svg"
                   width="30"
                   height="30"
                   fill="currentColor"
                   class="bi bi-gift"
                   viewBox="0 0 16 16">
                <path
                d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z" />
              </svg>
            </div>
           <div class="col-12">
              <div class="row row-cols-1 row-cols-md-3 g-3">
{% for object in object_list %}
          <hr>
          <div class="card mb-3 card-link">
            <div class="card-body">
              <h5 class="card-title">Order:  {{ object.order_number }} </h5>
              <hr>
              <h6 class="card-subtitle mb-2 text-muted">Order placed on: {{ object.created }}</h6>
              <p class="card-text">
                <strong>Shipping Address:</strong> {{ object.address }}<br>
                <strong>Order total:</strong> KSH {{ object.get_total_cost }}<br>
                {{ object.order_status }}
                <h6 class="card-subtitle mb-2 text-muted">On: {{ object.updated }}</h6>
              </p>
              <strong><a href="{% url 'shop:order_detail' object.id %}" class="card-link">VIEW DETAILS</a></strong> 
            </div>
          
          </div>
          {% empty %}
          <br>
          <p>You Dont have any Orders Yet. 
              <a href="{% url "shop:product-list" %}" class="button
              light">Continue shopping</a></p>
{% endfor %}
<br>

              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

  
{% endblock %}


